* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.debug .container {
    border: 2px dashed red;
    height: 1000px;
}

.container {
    width: 60%;
    margin: auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

header {
    height: 100px;
    background-color: violet;
    margin-bottom: 20px;
}

.yellow {
    height: 300px;
    background-color: rgb(255, 255, 129);
    margin-bottom: 20px;
}

.lightblue {
    background-color: lightblue;
}

.blue {
    height: 500px;
    background-color: blue;
}

.head-main.lightblue {
    height: 100px;
    margin-bottom: 15px;

}

.left.lightblue {
    float: left;
    width: 18%;
    margin-right: 2%;


}

main.lightblue {
    float: left;
    width: 58%;
    margin-right: 2%;
}

right.lightblue {
    float: left;
    width: 20%;
}